body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: #007bff;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px 0;
}

h2, h3 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 20px;
}

iframe {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

.video-wrapper {
    margin-bottom: 30px;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    color: #777;
    border-top: 1px solid #ccc;
}

/* Novas regras para as cores de fundo */
#curso-ds {
    background-color: #e6f2ff; /* Um azul claro */
}

#ia-videos {
    background-color: #f2e6ff; /* Um lilás claro */
}

#setec-ia {
    background-color: #ffe6e6; /* Um rosa claro */
}
